In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from ipywidgets import interact, interact_manual

In [2]:
#Import clean datasaet
X = pd.read_csv('X_clean.csv')
y = pd.read_csv('y_clean.csv')

In [3]:
#Splitting dataset into the training data and testing data
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2, random_state=0)

In [4]:
X

,0,1,2,3,4,5,14,15,17,18,...,10_2,11_1,11_2,12_1,12_2,13_1,13_2,16_1,16_2,16_3
0,0,0,1,0,1,0,0,1,29.85,29.85,...,0,0,0,0,0,0,0,0,1,0
1,1,0,0,0,34,1,1,0,56.95,1889.50,...,1,0,0,0,0,0,0,0,0,1
2,1,0,0,0,2,1,0,1,53.85,108.15,...,0,0,0,0,0,0,0,0,0,1
3,1,0,0,0,45,0,1,0,42.30,1840.75,...,1,0,1,0,0,0,0,0,0,0
4,0,0,0,0,2,1,0,1,70.70,151.65,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,1,0,1,1,24,1,1,1,84.80,1990.50,...,1,0,1,0,1,0,1,0,0,1
7028,0,0,1,1,72,1,1,1,103.20,7362.90,...,1,0,0,0,1,0,1,1,0,0
7029,0,0,1,1,11,0,0,1,29.60,346.45,...,0,0,0,0,0,0,0,0,1,0
7030,1,1,1,0,4,1,0,1,74.40,306.60,...,0,0,0,0,0,0,0,0,0,1
7031,1,0,0,0,66,1,2,1,105.65,6844.50,...,1,0,1,0,1,0,1,0,0,0

In [5]:
y

      0
0     0
1     0
2     1
3     0
4     1
...  ..
7027  0
7028  0
7029  0
7030  1
7031  0

[7032 rows x 1 columns]

In [6]:
X_train

,0,1,2,3,4,5,14,15,17,18,...,10_2,11_1,11_2,12_1,12_2,13_1,13_2,16_1,16_2,16_3
2959,1,0,1,0,24,1,1,1,58.35,1346.90,...,0,0,1,0,0,0,0,0,1,0
5105,0,0,1,1,71,1,2,0,113.65,8166.80,...,1,0,1,0,1,0,1,1,0,0
5354,1,0,1,1,70,1,2,0,25.35,1715.15,...,0,1,0,1,0,1,0,0,0,1
5066,0,0,0,1,49,1,1,0,19.45,921.30,...,0,1,0,1,0,1,0,1,0,0
156,0,0,0,0,22,1,0,1,84.15,1821.95,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4931,1,0,0,0,1,1,0,0,18.90,18.90,...,0,1,0,1,0,1,0,0,0,1
3264,1,0,0,0,65,1,1,0,24.80,1600.95,...,0,1,0,1,0,1,0,1,0,0
1653,1,0,1,1,50,1,0,0,105.95,5341.80,...,1,0,0,0,1,0,1,1,0,0
2607,0,0,1,1,14,1,0,0,80.45,1137.05,...,0,0,1,0,1,0,1,1,0,0
2732,1,0,0,0,64,1,1,1,104.65,6889.80,...,1,0,1,0,1,0,1,1,0,0

In [7]:
X_test

,0,1,2,3,4,5,14,15,17,18,...,10_2,11_1,11_2,12_1,12_2,13_1,13_2,16_1,16_2,16_3
5552,1,0,0,0,1,1,0,0,20.65,20.65,...,0,1,0,1,0,1,0,0,1,0
5805,1,0,0,0,16,1,0,1,20.60,330.25,...,0,1,0,1,0,1,0,1,0,0
2640,0,0,0,0,1,1,0,0,19.80,19.80,...,0,1,0,1,0,1,0,1,0,0
3976,1,0,0,0,1,0,0,1,24.25,24.25,...,0,0,0,0,0,0,0,0,1,0
6429,1,1,0,0,1,1,0,1,74.40,74.40,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2752,0,0,1,1,69,1,1,0,84.45,5848.60,...,1,0,0,0,0,0,0,0,0,0
5693,1,1,1,1,71,1,0,1,105.10,7548.10,...,0,0,0,0,1,0,1,1,0,0
1657,1,0,0,0,5,1,0,1,69.75,324.60,...,0,0,0,0,0,0,0,0,1,0
2761,0,0,1,0,64,1,1,1,115.00,7396.15,...,1,0,1,0,1,0,1,0,1,0
2913,1,1,1,0,8,0,0,1,43.35,371.40,...,1,0,0,0,0,0,1,0,0,1

In [8]:
y_train

      0
2959  0
5105  0
5354  0
5066  0
156   0
...  ..
4931  0
3264  0
1653  1
2607  0
2732  0

[5625 rows x 1 columns]

In [9]:
y_test

      0
5552  0
5805  0
2640  0
3976  1
6429  1
...  ..
2752  0
5693  1
1657  1
2761  0
2913  0

[1407 rows x 1 columns]

In [10]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [11]:
X_train

array([[ 0.99485767, -0.43730142,  1.03898144, ..., -0.52489066,
         1.39574826, -0.54276283],
       [-1.00516891, -0.43730142,  1.03898144, ...,  1.90515869,
        -0.71646158, -0.54276283],
       [ 0.99485767, -0.43730142,  1.03898144, ..., -0.52489066,
        -0.71646158,  1.84242537],
       ...,
       [ 0.99485767, -0.43730142,  1.03898144, ...,  1.90515869,
        -0.71646158, -0.54276283],
       [-1.00516891, -0.43730142,  1.03898144, ...,  1.90515869,
        -0.71646158, -0.54276283],
       [ 0.99485767, -0.43730142, -0.9624811 , ...,  1.90515869,
        -0.71646158, -0.54276283]])

In [12]:
X_test

array([[ 0.99485767, -0.43730142, -0.9624811 , ..., -0.52489066,
         1.39574826, -0.54276283],
       [ 0.99485767, -0.43730142, -0.9624811 , ...,  1.90515869,
        -0.71646158, -0.54276283],
       [-1.00516891, -0.43730142, -0.9624811 , ...,  1.90515869,
        -0.71646158, -0.54276283],
       ...,
       [ 0.99485767, -0.43730142, -0.9624811 , ..., -0.52489066,
         1.39574826, -0.54276283],
       [-1.00516891, -0.43730142,  1.03898144, ..., -0.52489066,
         1.39574826, -0.54276283],
       [ 0.99485767,  2.28675226,  1.03898144, ..., -0.52489066,
        -0.71646158,  1.84242537]])

In [13]:
#importing keras
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

In [14]:
#initialising ANN
classifier = Sequential()

#input layer and first hiden layer
classifier.add(Dense(output_dim=15, init ='uniform',activation='relu', input_dim=29))

#input second layer
classifier.add(Dense(output_dim=15, init ='uniform',activation='relu'))

#output layer
classifier.add(Dense(output_dim=1, init ='uniform',activation='sigmoid'))

#compile ANN
classifier.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

C:\Users\wisnu\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", input_dim=29, units=15, kernel_initializer="uniform")`
  """
C:\Users\wisnu\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=15, kernel_initializer="uniform")`

C:\Users\wisnu\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="sigmoid", units=1, kernel_initializer="uniform")`
  # This is added back by InteractiveShellApp.init_path()

In [15]:
classifier.fit(X_train,y_train, batch_size=10, nb_epoch=100)

C:\Users\wisnu\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  """Entry point for launching an IPython kernel.

Epoch 1/100
5625/5625 [==============================] - 1s 239us/step - loss: 0.4822 - accuracy: 0.7732
Epoch 2/100
5625/5625 [==============================] - 1s 205us/step - loss: 0.4248 - accuracy: 0.7982
Epoch 3/100
5625/5625 [==============================] - 1s 210us/step - loss: 0.4186 - accuracy: 0.8041
Epoch 4/100
5625/5625 [==============================] - 1s 226us/step - loss: 0.4166 - accuracy: 0.8021
Epoch 5/100
5625/5625 [==============================] - 1s 221us/step - loss: 0.4158 - accuracy: 0.8004
Epoch 6/100
5625/5625 [==============================] - 1s 216us/step - loss: 0.4142 - accuracy: 0.8018
Epoch 7/100
5625/5625 [==============================] - 1s 221us/step - loss: 0.4137 - accuracy: 0.8034
Epoch 8/100
5625/5625 [==============================] - 1s 221us/step - loss: 0.4138 - accuracy: 0.8028
Epoch 9/100
5625/5625 [==============================] - 1s 224us/step - loss: 0.4121 - accuracy: 0.8055
Epoch 10/100
5625/5625 [==============================] - 1s 233us/step - loss: 0.4119 - accuracy: 0.8028
Epoch 11/100
5625/5625 [==============================] - 1s 248us/step - loss: 0.4114 - accuracy: 0.8039
Epoch 12/100
5625/5625 [==============================] - 1s 237us/step - loss: 0.4108 - accuracy: 0.8014
Epoch 13/100
5625/5625 [==============================] - 2s 280us/step - loss: 0.4105 - accuracy: 0.8039
Epoch 14/100
5625/5625 [==============================] - 1s 258us/step - loss: 0.4096 - accuracy: 0.8050
Epoch 15/100
5625/5625 [==============================] - 2s 268us/step - loss: 0.4088 - accuracy: 0.8030
Epoch 16/100
5625/5625 [==============================] - 1s 238us/step - loss: 0.4089 - accuracy: 0.8068
Epoch 17/100
5625/5625 [==============================] - 1s 241us/step - loss: 0.4076 - accuracy: 0.8068
Epoch 18/100
5625/5625 [==============================] - 2s 322us/step - loss: 0.4062 - accuracy: 0.8076
Epoch 19/100
5625/5625 [==============================] - 2s 273us/step - loss: 0.4063 - accuracy: 0.8082
Epoch 20/100
5625/5625 [==============================] - 1s 254us/step - loss: 0.4058 - accuracy: 0.8087
Epoch 21/100
5625/5625 [==============================] - 2s 353us/step - loss: 0.4051 - accuracy: 0.8107
Epoch 22/100
5625/5625 [==============================] - 1s 250us/step - loss: 0.4050 - accuracy: 0.8084
Epoch 23/100
5625/5625 [==============================] - 1s 249us/step - loss: 0.4043 - accuracy: 0.8078
Epoch 24/100
5625/5625 [==============================] - 1s 248us/step - loss: 0.4041 - accuracy: 0.8082
Epoch 25/100
5625/5625 [==============================] - 2s 276us/step - loss: 0.4027 - accuracy: 0.8071
Epoch 26/100
5625/5625 [==============================] - 1s 263us/step - loss: 0.4025 - accuracy: 0.8087
Epoch 27/100
5625/5625 [==============================] - 2s 269us/step - loss: 0.4013 - accuracy: 0.8096
Epoch 28/100
5625/5625 [==============================] - 2s 405us/step - loss: 0.4021 - accuracy: 0.8094
Epoch 29/100
5625/5625 [==============================] - 2s 314us/step - loss: 0.4011 - accuracy: 0.8101
Epoch 30/100
5625/5625 [==============================] - 2s 275us/step - loss: 0.4008 - accuracy: 0.8128
Epoch 31/100
5625/5625 [==============================] - 2s 282us/step - loss: 0.3995 - accuracy: 0.8098
Epoch 32/100
5625/5625 [==============================] - 1s 248us/step - loss: 0.4001 - accuracy: 0.8085
Epoch 33/100
5625/5625 [==============================] - 1s 245us/step - loss: 0.3993 - accuracy: 0.8091
Epoch 34/100
5625/5625 [==============================] - 1s 252us/step - loss: 0.3989 - accuracy: 0.8112
Epoch 35/100
5625/5625 [==============================] - 2s 274us/step - loss: 0.3990 - accuracy: 0.8108
Epoch 36/100
5625/5625 [==============================] - 2s 267us/step - loss: 0.3982 - accuracy: 0.8123
Epoch 37/100
5625/5625 [==============================] - 1s 261us/step - loss: 0.3974 - accuracy: 0.8124
Epoch 38/100
5625/5625 [==============================] - 1s 264us/step - loss: 0.3978 - accuracy: 0.8103
Epoch 39/100
5625/5625 [==============================] - 2s 273us/step - loss: 0.3964 - accuracy: 0.8110
Epoch 40/100
5625/5625 [==============================] - 1s 261us/step - loss: 0.3962 - accuracy: 0.8135
Epoch 41/100
5625/5625 [==============================] - 1s 265us/step - loss: 0.3962 - accuracy: 0.8148
Epoch 42/100
5625/5625 [==============================] - 1s 264us/step - loss: 0.3953 - accuracy: 0.8126
Epoch 43/100
5625/5625 [==============================] - 1s 261us/step - loss: 0.3941 - accuracy: 0.8130
Epoch 44/100
5625/5625 [==============================] - 2s 281us/step - loss: 0.3943 - accuracy: 0.8146
Epoch 45/100
5625/5625 [==============================] - 2s 270us/step - loss: 0.3936 - accuracy: 0.8139
Epoch 46/100
5625/5625 [==============================] - 2s 273us/step - loss: 0.3927 - accuracy: 0.8156
Epoch 47/100
5625/5625 [==============================] - 1s 267us/step - loss: 0.3924 - accuracy: 0.8153
Epoch 48/100
5625/5625 [==============================] - 2s 275us/step - loss: 0.3927 - accuracy: 0.8167
Epoch 49/100
5625/5625 [==============================] - 1s 263us/step - loss: 0.3918 - accuracy: 0.8183
Epoch 50/100
5625/5625 [==============================] - 1s 252us/step - loss: 0.3912 - accuracy: 0.8162
Epoch 51/100
5625/5625 [==============================] - 1s 232us/step - loss: 0.3906 - accuracy: 0.8188
Epoch 52/100
5625/5625 [==============================] - 1s 205us/step - loss: 0.3906 - accuracy: 0.8158
Epoch 53/100
5625/5625 [==============================] - 1s 205us/step - loss: 0.3901 - accuracy: 0.8167
Epoch 54/100
5625/5625 [==============================] - 1s 202us/step - loss: 0.3896 - accuracy: 0.8133
Epoch 55/100
5625/5625 [==============================] - 1s 208us/step - loss: 0.3889 - accuracy: 0.8181
Epoch 56/100
5625/5625 [==============================] - 1s 210us/step - loss: 0.3879 - accuracy: 0.8158
Epoch 57/100
5625/5625 [==============================] - 1s 210us/step - loss: 0.3889 - accuracy: 0.8187
Epoch 58/100
5625/5625 [==============================] - 1s 204us/step - loss: 0.3873 - accuracy: 0.8174
Epoch 59/100
5625/5625 [==============================] - 1s 202us/step - loss: 0.3864 - accuracy: 0.8194
Epoch 60/100
5625/5625 [==============================] - 1s 207us/step - loss: 0.3866 - accuracy: 0.8185
Epoch 61/100
5625/5625 [==============================] - 1s 201us/step - loss: 0.3854 - accuracy: 0.8196
Epoch 62/100
5625/5625 [==============================] - 1s 199us/step - loss: 0.3851 - accuracy: 0.8196
Epoch 63/100
5625/5625 [==============================] - 1s 202us/step - loss: 0.3859 - accuracy: 0.8183
Epoch 64/100
5625/5625 [==============================] - 1s 206us/step - loss: 0.3849 - accuracy: 0.8215
Epoch 65/100
5625/5625 [==============================] - 1s 200us/step - loss: 0.3847 - accuracy: 0.8222
Epoch 66/100
5625/5625 [==============================] - 1s 201us/step - loss: 0.3839 - accuracy: 0.8252
Epoch 67/100
5625/5625 [==============================] - 1s 206us/step - loss: 0.3850 - accuracy: 0.8224
Epoch 68/100
5625/5625 [==============================] - 1s 224us/step - loss: 0.3835 - accuracy: 0.8204
Epoch 69/100
5625/5625 [==============================] - 1s 206us/step - loss: 0.3834 - accuracy: 0.8228
Epoch 70/100
5625/5625 [==============================] - 1s 203us/step - loss: 0.3828 - accuracy: 0.8226
Epoch 71/100
5625/5625 [==============================] - 1s 207us/step - loss: 0.3826 - accuracy: 0.8212
Epoch 72/100
5625/5625 [==============================] - 1s 205us/step - loss: 0.3820 - accuracy: 0.8217
Epoch 73/100
5625/5625 [==============================] - 1s 204us/step - loss: 0.3823 - accuracy: 0.8210
Epoch 74/100
5625/5625 [==============================] - 1s 200us/step - loss: 0.3805 - accuracy: 0.8217
Epoch 75/100
5625/5625 [==============================] - 1s 206us/step - loss: 0.3822 - accuracy: 0.8215
Epoch 76/100
5625/5625 [==============================] - 1s 206us/step - loss: 0.3803 - accuracy: 0.8238
Epoch 77/100
5625/5625 [==============================] - 1s 204us/step - loss: 0.3809 - accuracy: 0.8220
Epoch 78/100

5625/5625 [==============================] - 1s 188us/step - loss: 0.3813 - accuracy: 0.8256
Epoch 79/100
5625/5625 [==============================] - 1s 183us/step - loss: 0.3807 - accuracy: 0.8213
Epoch 80/100
5625/5625 [==============================] - 1s 179us/step - loss: 0.3796 - accuracy: 0.8208
Epoch 81/100
5625/5625 [==============================] - 1s 185us/step - loss: 0.3806 - accuracy: 0.8217
Epoch 82/100
5625/5625 [==============================] - 1s 183us/step - loss: 0.3794 - accuracy: 0.8238
Epoch 83/100
5625/5625 [==============================] - 5s 884us/step - loss: 0.3809 - accuracy: 0.8251
Epoch 84/100
5625/5625 [==============================] - 4s 702us/step - loss: 0.3792 - accuracy: 0.8235
Epoch 85/100
5625/5625 [==============================] - ETA: 0s - loss: 0.3799 - accuracy: 0.82 - 3s 541us/step - loss: 0.3796 - accuracy: 0.8260
Epoch 86/100
5625/5625 [==============================] - 3s 597us/step - loss: 0.3785 - accuracy: 0.8235
Epoch 87/100
5625/5625 [==============================] - 3s 579us/step - loss: 0.3780 - accuracy: 0.8236
Epoch 88/100
5625/5625 [==============================] - 3s 563us/step - loss: 0.3797 - accuracy: 0.8219
Epoch 89/100
5625/5625 [==============================] - 4s 643us/step - loss: 0.3789 - accuracy: 0.8247
Epoch 90/100
5625/5625 [==============================] - 5s 817us/step - loss: 0.3776 - accuracy: 0.8252
Epoch 91/100
5625/5625 [==============================] - 4s 701us/step - loss: 0.3775 - accuracy: 0.8277
Epoch 92/100
5625/5625 [==============================] - 4s 678us/step - loss: 0.3781 - accuracy: 0.8267
Epoch 93/100
5625/5625 [==============================] - 4s 643us/step - loss: 0.3773 - accuracy: 0.8254
Epoch 94/100
5625/5625 [==============================] - 4s 682us/step - loss: 0.3772 - accuracy: 0.8236
Epoch 95/100
5625/5625 [==============================] - 3s 586us/step - loss: 0.3767 - accuracy: 0.8244
Epoch 96/100
5625/5625 [==============================] - 4s 696us/step - loss: 0.3765 - accuracy: 0.8263
Epoch 97/100
5625/5625 [==============================] - 4s 633us/step - loss: 0.3771 - accuracy: 0.8249
Epoch 98/100
5625/5625 [==============================] - 3s 593us/step - loss: 0.3756 - accuracy: 0.8284
Epoch 99/100
5625/5625 [==============================] - 4s 776us/step - loss: 0.3763 - accuracy: 0.8247
Epoch 100/100
5625/5625 [==============================] - 4s 779us/step - loss: 0.3762 - accuracy: 0.8260

In [16]:
#predict
y_pred = classifier.predict(X_test)
y_pred = (y_pred>0.5)

In [17]:
#confusion matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,y_pred)

In [18]:
cm

array([[947,  91],
       [208, 161]], dtype=int64)